

nav {
    display:flex;
    align-items: center;
}

.categories {
padding: 20px;
text-decoration:none;
font-size:0.8em;
}

a:visited, a:link{
    color:white;
    text-decoration:none;
}


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    font-family: 'Poppins-Regular';
}
/* HTML5 display-role reset for older browsers 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}*/
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----------------------------------*/


nav {
    padding:20px;
    background-color: #0475ba;
    color: white;
}

.infos {
    padding: 40px;
}

.presentation {
    background-color: #0475ba;
    color: white;
    padding: 40px;
}



.formations {
    background-color: #0475ba;
    color: white;
    padding-top: 40px;
    padding-bottom:40px;
    padding-left: 5px;
}

.experiences {
padding-top: 40px;
padding-bottom:50px;
}

.titrexp, .school {
    margin-left: 5px;
}

.passions {
    padding-top: 40px;
    padding-bottom:50px;
    padding-left: 10px;
}

.infos, .titreblanc, .titrebleu {
    text-align: center;
    margin-bottom: 40px;
}



.nomprenom, .titrebleu, .titreblanc, .profession, .titrexp, header {
    font-family: 'Poppins-Medium';
}

.nomprenom {
    font-size: 1.5em;
}

.nomprenom {
    font-style: 4em;
}


.titrebleu {
    color : #0475ba;
    margin-top: 20px;
    margin-bottom: 30px;
}


.job {
    margin-top: 20px;
    margin-bottom:20px;
    margin-left: 5px;
}


/* A réessayer pour la technique flexbox
.titrexp {
display: flex;
justify-content: space-around;
}
*/


.date {
    float: right;
}

.links {
    background-color: #0475ba;
    color: white;
    padding-top: 50px;
    padding-bottom:50px;
    padding-left: 40px;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('fonts/Poppins-Medium.ttf')
}


.photo {
    border-radius: 50%;
    box-shadow: 4px 4px 4px grey;
  }

@media (min-width: 576px) { 
        body{


a:visited {
    color:white;
}
